fieldset {
    overflow: hidden;
    width: 500px;
}

fieldset p {
    clear: both;
    padding: 10px;
}

legend {
    font: normal 18px/18px Arial, sans-serif;
    padding-bottom: 10px;
}

label {
    font: bold 15px/15px Arial, sans-serif;
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}

input[type="text"] {
    float: left;
    width: 300px;
}

input[type="submit"] {
    font: normal 14px/16px Arial, sans-serif;
    height: 25px;
    margin-left: 200px;
    width: 100px;
}

textarea {
    font: normal 12px/16px Arial, sans-serif;
    height: 200px;
    resize: none;
    width: 300px;
}